@import url('https://fonts.googleapis.com/css2?family=Tillana:wght@400;500;600;700;800&display=swap');

body{
    /* background-image: url("https://4.bp.blogspot.com/-w99lR-lqayQ/WxFaVWjBYLI/AAAAAAAAGT4/QnbFHQptiBwOpMXyjbqIYK1u7I9K3f8CACLcBGAs/s1600/1200835223_preview_20171114190957_1.jpg"); */
    background: linear-gradient(rgba(0,0,0,0.5), rgba(255,255,255,0.1)), url("../../imagens/fundo_site_login.png");
    background-repeat: no-repeat;
    background-size: cover;

    background-color: rgb(220, 220, 220);
    font-family: 'Tillana', cursive;
}

.navbar-brand{
    font-size: 2em;
}

.barra-de-nav{
    padding-left: 1%;
    padding-right: 2%;

    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7));
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.8);
}

.barra-de-nav button{
    transition: 0.5s;
}

.botao-home{
    border: none;
}

.botao-sair{
    border: 2px solid rgba(255, 255, 255, 1);
}

.btn:focus{
    box-shadow: none;
}

.hidden{
    display: none;
}
