@import url('https://fonts.googleapis.com/css2?family=Tillana:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@font-face{
    src:url("../../fonts/PiecesOfEight/Pieces of Eight.ttf");
    font-family: "Pieces of Eight";
}

body{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(255,255,255,0.1)), url("../../imagens/fundo_site_login.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(220, 220, 220);
    font-family: "Comic Neue";
}

.navbar-brand{
    font-size: 2em;
}

.barra-de-nav{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7));
    padding-left: 1%;
    padding-right: 2%;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.8);
}

.barra-de-nav button{
    transition: 0.5s;
}

.botao-home{
    border: none;
}

.botao-sair{
    border: 2px solid rgba(255, 255, 255, 1);
}

.btn:focus{
    box-shadow: none;
}

.hidden{
    display: none;
}

.alert{
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}

.titulo-jogo{
    font-family: "Pieces of Eight";
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    padding: 2%;
    text-shadow: 4px 3px 3px rgba(0,0,0,0.8);
    text-align: center;
    font-size: 4em;
    letter-spacing: 3px;
    font-weight: bold;
    color: white;
}

.btn{
    transition: 0.5s;
    letter-spacing: 0px;
}
.btn:hover{
    letter-spacing: 2px;
}


.rodape{
    background-color: rgb(25, 25, 25);
    padding: 1%;
    font-size: 1em;
    color: rgb(210, 210, 210);
    box-shadow: inset 0px 5px 10px rgb(0,0,0);
}
.rodape-dados{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.rodape-dados-links{
    padding: 1%;
}
.rodape-dados-links a{
    font-size: 1.2em;
    font-weight: 900;
    color: rgb(210, 210, 210);
    text-decoration: none;
    transition: 0.5s;
}
.rodape-dados-links a:hover{
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    font-size: 1.3em;
}
.rodape-dados-devs{
    margin-top: 2%;
    text-align: center;
}
.rodape-dados-devs a{
    font-size: 1.2em;
    font-weight: 900;
    color: rgb(210, 210, 210);
    text-decoration: none;
    transition: 0.5s;
}
.rodape-dados-devs a:hover{
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    font-size: 1.3em;
}
.rodape-copyright{
    background-color: rgb(70, 70, 70);
    padding: 1%;
    font-size: 1em;
    text-align: center;
}
.modal-devs{
    margin: auto;
}
.modal-devs div strong{
    font-size: 1.1em;
    font-weight: 900;
    text-align: center;
    background-color: rgb(0,0,0);
    color: rgb(255, 255, 255);
}


@media(max-width: 800px){
    .rodape-dados{
        grid-template-columns:1fr;
        grid-template-rows: 2fr 1fr;
    }
}