.titulo{
    font-size: 1.5em;
    color: rgba(255, 255, 255, 1);
    font-family: "Pieces of Eight";
}

.msg_erro{
    background-color: rgba(255, 255, 255, 0.9);
    color: rgba(0, 0, 0, 1);
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 1);

    font-size: 2em;
    text-align: center;

    border-radius: 10px;
    width: 45%;
    margin-top: 10%;
    padding: 2%;
}

.btn{
    font-size: 1em;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    transition: 0.5s;
}