body{
    background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url("../../imagens/fundo_site.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.coluna-usuario{
    padding: 1%;
    padding-top: 3%;

    background-color: rgba(255, 255, 255, 1); 
    color: rgba(0, 0, 0, 1);
}
.nome-usuario{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

.coluna-info{
    padding: 2%;

    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 1);
}
.coluna-info input{
    background-color: transparent;
    transition: 0.5s;
    color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(255, 255, 255, 0.8);
}
.coluna-info label{
    font-weight: bold;
}
.coluna-info input:focus{
    color: rgba(0, 0, 0, 1);
    box-shadow: none;
}
.form-control:focus + label{
    color: rgba(0, 0, 0, 1);
}

.info-classificacao{
    text-align: center;
}

.container{
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8);
}

.botao-mostrar-senha label{
    font-weight: normal;
}



@media(max-width: 1000px){
    .campo-senha{
        display: grid;
        grid-template-columns: 5fr 1fr;
        grid-template-rows: repeat(2, 1fr);
    }
}