body{
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.5)), url("../../imagens/fundo_site_interno.png");
    background-repeat: no-repeat;
    background-size: cover;
}


.jogo-area{
    margin-left: 0%;
}

.botao-ranking{
    border: 2px solid rgba(255, 255, 255, 1);
    font-weight: bold;
    font-size: 1.5em;
    transition: 0.5s;
}

.container{
    width: 70%;
    background-color: rgba(0, 0, 0, 0.7);
    padding:1%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
}

.jogo-desc{
    color: rgba(255, 255, 255, 1);
}
.jogo-desc p{
    font-size: 1.5em;
    padding: 1%;
}
.jogo-desc h1{
    font-weight: bold;
    text-align: center;
}

.requisitos-jogo{
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(0, 0, 0, 1);

    padding: 2%;
    border-radius: 10px;
}


@media(max-width: 800px){
    .container{
        width: 100%;
    }
    .jogo-area{
        margin: auto;
    }
}