body{
    background: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.1)), url("../../imagens/fundo_site_login.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.coluna-usuario{
    padding: 2%;
    padding-top: 10%;

    background-color: rgba(255, 255, 255, 1); 
    color: rgba(0, 0, 0, 1);
}
.nome-usuario{
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
}

.coluna-info{
    padding: 2%;

    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 1);
}
.coluna-info input{
    background-color: transparent;
    transition: 0.5s;
    color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(255, 255, 255, 0.8);
}
.coluna-info label{
    font-weight: bold;
}

.form-control{
    font-size: 1.5em;
}
.form-control:disabled{
    background-color: transparent;
    color: rgba(255, 255, 255, 0.7);
}
.form-control:disabled + label{
    color: rgba(255, 255, 255, 1);
}

.info-classificacao{
    text-align: center;
    font-size: 1.3em;
}

.container{
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8);
}

.btn-editar{
    font-size: 1.5em;
    font-weight: bold;
}

.check-senha{
    font-size: 1.5em;
    width: 100%;
}

.nome-usuario span{
    margin: auto;
    width: 80%;
    text-align: center;
    display: inline-block;
    overflow-x: auto;
}

.info-perfil{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 3fr 9fr;

    box-shadow: 5px 10px 20px rgb(0,0,0);
}

@media(max-width: 800px){
    .info-perfil{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}