@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@font-face{
    src:url("../../fonts/PiecesOfEight/Pieces of Eight.ttf");
    font-family: "Pieces of Eight";
}

/* font-family: "Pieces of Eight"; */
/* font-family: "Comic Neue"; */

body{
    font-family: "Comic Neue";
}

.jogo-titulo{
    font-family: "Pieces of Eight";
    font-size: 2.5em;
    text-align: center;
}

.corpo-email{
    width: 600px;
    padding: 2%;
    margin: auto;
}

.conteudo-senha{    
    margin: auto;
}

.rodape-email{
    background-color: rgb(70, 108, 179);
    color: rgb(255, 255, 255);
    padding: 2%;
    font-size: 1.3em;
}